img {
	filter: drop-shadow(0 0 0.5rem black);
}

#link-burger {
	height: 100%;
	max-height: 525px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
}
#link-burger > img {
	transition: transform 0.75s ease-in-out;
}
#link-burger:hover > img {
	scale: 1.05;
}
.swiper-slide {
	text-align: center;
	font-size: 1rem;
	background: var(--white3);
	height: 100%;

	/* Center slide text vertically */
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}
.text {
	padding: 0.8em 1.8em;
	border: 0.1rem solid black;
	position: relative;
	overflow: hidden;
	background-color: transparent;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	transition: 0.3s;
	z-index: 1;
	font-family: inherit;
	color: black;
}

.text::before {
	content: "";
	width: 0;
	height: 500%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background: black;
	transition: 0.5s ease;
	display: block;
	z-index: -1;
}

#link-burger:hover > .text::before {
	width: 105%;
}

#link-burger:hover > .text {
	color: white;
}

.swiper-slide h1 {
	text-transform: uppercase;
}
.swiper-slide p {
	text-wrap: balance;
	max-width: 25ch;
	margin-inline: auto;
}
.swiper-pagination {
	display: none;
}
