img {
	filter: drop-shadow(0 0 0.75rem black);
}

#link-burger {
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}
.swiper-slide {
	text-align: center;
	font-size: 1rem;
	background: var(--white3);
	height: 100%;

	/* Center slide text vertically */
	display: flex;
	flex-direction: column;
	justify-content: center;

	position: relative;
}

.text {
	z-index: 1;
	bottom: 0;
	margin-inline: auto;
	left: 0;
	right: 0;
	background-color: black;
	/* /* create a mask to inside */

	color: white;
	padding: 0.5rem 1rem;
	width: fit-content;
}
.swiper-slide h1 {
	text-transform: uppercase;
}
.swiper-slide p {
	text-wrap: balance;
	max-width: 30ch;
	margin-inline: auto;
}
.swiper-pagination {
	display: none;
}
