---
import { App } from "../ui/Swiper/App.jsx";
import img1 from "../../img/burger.png";
import img2 from "../../img/fries.png";
import img3 from "../../img/pie.png";
import img4 from "../../img/burger2.png";
import Slider from "../ui/Slider.astro";
---

<section class="min-h-screen">
	<Slider text="nuestros" text2="combos" />
	<App
		client:visible
		img1={img1.src}
		title1="combo 1"
		description1="$10.50"
		img2={img2.src}
		title2="combo 2"
		description2="$12.50"
		img3={img3.src}
		title3="combo 3"
		description3="$9.50"
		img4={img4.src}
		title4="combo 4"
		description4="$10.50 "
	/>
</section>
