---
import { Image } from "astro:assets";
import logo from "../../img/logo.png";
---

<section class="flex bg-[--white3]">
	<Image src={logo} alt="logo image" class="p-10" />
	<article class="flex items-center justify-evenly flex-col w-full p-5">
		<div class="flex items-start gap-8 flex-wrap">
			<ul class="">
				<h3 class="uppercase text-3xl">real food</h3>
				<li class="py-2 hover:underline"><a href="#">Burgers</a></li>
				<li class="py-2 hover:underline"><a href="#">Fries&Cakes</a></li>
				<li class="py-2 hover:underline"><a href="#">Hacer pedido</a></li>
			</ul>

			<ul class="">
				<h3 class="uppercase text-3xl">contacto</h3>
				<li class="py-2 hover:underline"><a href="#">Invierte en Xeat</a></li>
				<li class="py-2 hover:underline"><a href="#">real@xeatburgers.com</a></li>
				<li class="py-2 hover:underline"><a href="#">orders@xeatburgers.com</a></li>
			</ul>

			<ul class="">
				<h3 class="uppercase text-3xl">legal</h3>
				<li class="py-2 hover:underline"><a href="#">Política de privacidad</a></li>
				<li class="py-2 hover:underline"><a href="#">Aviso Legal</a></li>
				<li class="py-2 hover:underline"><a href="#">Política de cookies</a></li>
			</ul>
		</div>
		<a target="_blank" href="#" class="hover:underline"
			>2023 © XEAT · Made with hunger by Siroko.Studio</a
		>
	</article>
</section>

<style>
	@media (max-width: 1150px) {
		section {
			flex-direction: column;
		}
		article {
			width: 100%;
		}
	}
</style>
