---
import crew from "../../img/crew.png";
---

<section class="flex justify-around bg-[--black] items-center">
	<article
		class="flex flex-col justify-start items-start text-[--white3] p-32">
		<p class="text-4xl text-balance max-w-[50ch]">
			Eres un Xeater! Síguenos en Instagram y forma parte de la RealCrew.
		</p>
		<button
			class="uppercase text-nowrap bg-[red] rounded-full hover:bg-red-600 transition px-4 mt-10 text-white py-4">
			@realcrew.burgers
		</button>
	</article>
	<img src={crew.src} alt="crew logo" class="max-w-72 m-32" />
</section>
