---
import { Image } from "astro:assets";
import usMobile from "../../img/usMobile.jpg";
import usDesktop from "../../img/usDesktop.jpg";
---

<section class="" id="know-us">
	<Image src={usMobile} alt="us" class="block sm:hidden" />
	<Image src={usDesktop} alt="us" class="sm:block hidden" />
</section>
<style></style>
