---
import ComboSelect from "../components/sections/ComboSelect.astro";
import FoodSelect from "../components/sections/FoodSelect.astro";
import Hero from "../components/sections/Hero.astro";
import Instagram from "../components/sections/Instagram.astro";
import Promotion from "../components/sections/Promotion.astro";
import Layout from "../layouts/Layout.astro";
import FooterSection from "../components/sections/FooterSection.astro";
import KnowUs from "../components/sections/KnowUs.astro";
import Fries from "../components/sections/Fries.astro";
---

<Layout title="ðŸ”ðŸŸðŸ¥¤ THE BURGER VILAS, bienvenidos !  ">
	<header>
		<Hero />
	</header>
	<main class="max-w-full overflow-x-hidden">
		<Fries />
		<!-- 
		<FoodSelect />
		<Promotion />
		<ComboSelect /> -->
		<KnowUs />
	</main>
	<footer>
		<FooterSection />
	</footer>
</Layout>

<style></style>
