---
import { ViewTransitions } from "astro:transitions";
import "@fontsource-variable/onest";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Desde 2020, nos dedicamos a enaltecer la cultura hamburguesera en Uruguay. Conocé nuestras hamburguesas, papas y bebidas. ¡Pedí online!"
		/>
		<meta
			name="keywords"
			content="hamburguesas, hamburguesa, hamburgueseria, hamburguesas montevideo, hamburguesas uruguay, hamburguesas delivery, hamburguesas take away, hamburguesas para llevar, hamburguesas para llevar montevideo, hamburguesas para llevar uruguay, hamburguesas para llevar delivery, hamburguesas para llevar take away, hamburguesas para llevar montevideo uruguay, hamburguesas para llevar delivery montevideo, hamburguesas para llevar take away montevideo, hamburguesas para llevar delivery uruguay, hamburguesas para llevar take away uruguay, hamburguesas para llevar delivery montevideo uruguay, hamburguesas para llevar take away montevideo uruguay, hamburguesas para llevar delivery take away, hamburguesas para llevar delivery take away montevideo, hamburguesas para llevar delivery take away"
		/>
		<meta name="author" content="The Vilas Burger" />
		<meta name="robots" content="index, follow" />
		<meta name="theme-color" content="#e84242" />

		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/iconTBV.png" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
		<style is:global>
			:root {
				--white: #fff;
				--red: #e84242;
				--black: #000000;
				--black2: #00000073;
				/* background-image: url("../img/gggrain.svg"); */
				background-color: #ededed;
			}
			@font-face {
				font-family: "AvenirNext";
				src: url("../components/fonts/AvenirNext.ttc")
					format("truetype");
			}
			@font-face {
				font-family: "LeagueGothic";
				src: url("../components/fonts/LeagueGothic-Regular.ttf")
					format("truetype");
			}
			html {
				/* font-family: "Onest Variable", sans-serif; */
				scroll-behavior: smooth;
				font-family:
					"AvenirNext",
					sans-serif,
					system-ui,
					-apple-system,
					BlinkMacSystemFont,
					"Segoe UI",
					Roboto,
					Oxygen,
					Ubuntu,
					Cantarell,
					"Open Sans",
					"Helvetica Neue",
					sans-serif;
			}
		</style>
	</body>
</html>
