---
import openBurger from "../../icons/openBurger.svg";
import closeBurger from "../../icons/close.svg";
import instagram from "../../icons/instagram.svg";

const response = await fetch(
	"https://us-east4.gcp.data.mongodb-api.com/app/home-ybjtf/endpoint/210"
);
const data = await response.json();
---

<dialog>
	<section>
		<nav>
			<li>
				<form method="dialog">
					<button class="burger-btn">
						<img
							src={closeBurger.src}
							alt="close button"
							class="close-btn"
						/>
					</button>
				</form>
			</li>
			<li>
				<a class="max-w-56" href="/">
					<img src={data.logo_url}alt="logo " />
				</a>
			</li>
			<li>
				<a class="a" href="/burgers">
					<span class="hover-animation">burgers</span></a
				>
			</li>
			<li>
				<a class="a pointer-events-none opacity-50" href="/fries">
					<span class="hover-animation">fries</span></a
				>
			</li>
			<li>
				<a class="a pointer-events-none opacity-50" href="/cakes">
					<span class="hover-animation">cakes</span></a
				>
			</li>
			<li>
				<a class="a pointer-events-none opacity-50" href="/the-meat">
					<span class="hover-animation">the meat</span>
				</a>
			</li>
			<li>
				<a class="a" href="/know-us">
					<span class="hover-animation">conócenos</span>
				</a>
			</li>
			<li>
				<a
					target="_blank"
					href="https://www.mercadolibre.com"
					class="uppercase text-nowrap bg-[red] rounded-full text-[--white3] hover:bg-red-600 transition py-2 px-4 inline-block">
					hacer pedido
				</a>
			</li>
			<li>
				<a class="a" href="/faqs">
					<span class="hover-animation">faqs</span>
				</a>
			</li>
		</nav>
		<span class="mx-auto inline-block w-full">
			<a href="https://www.instagram.com/">
				<img
					src={instagram.src}
					alt="instagram logo"
					class="hover:rotate-180 hover:scale-115 transition mx-auto"
				/>
			</a>
		</span>
	</section>
</dialog>

<section
	class="fixed bg-[--white3] h-[104px] border-black w-full border-b flex z-50">
	<button
		class="burger-btn"
		onclick="document.querySelector('dialog').showModal()">
		<img src={openBurger.src} alt="open image" class="openBtn" />
	</button>
</section>
<style>
	section li {
		list-style: none;
		margin-block: 0.75rem;
		margin-block: 0.75rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	li a {
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 800;
		font-size: 1.5rem;
		transition: all 0.3s ease;
	}
	li a:hover {
		transform: scale(1.1);
	}
	nav {
		width: 100%;
	}

	.logo-image {
		width: 50px;
		height: auto;
		transform: rotate(-10deg);
	}

	/*   IS-OPEN STATE   */
	dialog[open] {
		translate: 0 0;
	}

	/*   EXIT STATE   */
	dialog {
		transition:
			translate 0.7s ease-out,
			overlay 0.7s ease-out,
			display 0.7s ease-out allow-discrete;
		translate: 0 -100vh;
		height: 100%;
		width: 100%;
		background-color: var(--white3);
		font-size: 1rem;

		/* other styles */
		z-index: 30;
		width: 100%;
		height: 100vh;
		outline: 2rem solid var(--white3);
	}
	.burger-btn {
		background-color: transparent;
		border: none;
		cursor: pointer;
		margin-block: auto;
	}
	.burger-btn img {
		width: 50px;
	}

	/*   0. BEFORE-OPEN STATE   */
	@starting-style {
		dialog[open] {
			translate: 0 -100vh;
		}
	}

	/* Etc */

	@media (min-width: 1150px) {
		section {
			display: none;
		}
	}
</style>
